body{
    text-align: center;
    
}

.container {
text-align: center;
width: 500px;

}
.container >button{
    background-color: blue;
    color: white;
    
}
.contentList {
    text-align: center;
    
    margin-top: 4vh;
    padding: 1.3vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
}
.contentList>div{
    width: 400px;
    background-color:aqua ;
    padding: 1.5vh;
    display:flex;
    flex-direction: row;
}
.contentList>div>label{

    color: black;
    
    
}
.contentList>div>label>span{
    background-color: blue;
    padding: 1vh;
    border-radius: 4px;
    color: white;
}